/* --- Styling the buttons ---*/
.button
{
	-fx-background-color: #009688;
	-fx-border-radius: 5;
    -fx-text-fill: white;
    -fx-cursor: pointer;
}
.clicked
{
    -fx-opacity: 50%;
}
.top
{
    -fx-border-color: black;
}

/* --- Styling the table ---*/

.table-view {
    -fx-base:  #3f4852;
    -fx-control-inner-background:  #3f4852;
    -fx-background-color:  #3f4852;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}


