/* --- Styling the result quiz label ---*/
.lblResultQuiz {
	-fx-text-fill: #3f4852;
	-fx-padding: -250px 0px 0px 80px;
}

/* --- Styling the users connections label ---*/
.lblResultAnswer {
	-fx-text-fill: #3f4852;
	-fx-padding: -250px 0px 0px 70px;
}
